
<h1>Server Component</h1>
<hr>
<label>Server Name</label>
<input title="ServerName" type="text" class="form-control"
(input)="OnUpdateServer($event)">
<input title="ngBindingServerName" type="text" class="form-control"
[ngModel]="ServerName">
<p>{{ ServerName }}</p>
<button class="btn btn-primary" (click)="OnCreateServer()" [disabled]="!AllowServer">Add Server</button>
<p> {{ ServerCreationStatus }} </p>
<h3>Server ID {{ ID }} is {{ Status }}</h3>

<p *ngIf="ServerCreated; else noServer"> Server was Created, Server name is {{ ServerName }}</p>
<ng-template #noServer>
    <p>No Server was Created!</p>
</ng-template>
<p *ngFor="let server of Servers"></p>
<app-servers *ngFor="let server of Servers"></app-servers>